@import url("animations.css");

:root {
    --main-color-1: #140e6d;
    --main-color-2: #0065a8;
    --main-color-3: #008cb3;
    --main-color-4: #09b771;
    --alt-color-1: #00232a;
    --alt-color-2: #23232300;
    --hover: #001944;
    --shadow: black;
    --text-color: #ffffff;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    scrollbar-color: #3e4144 #16181c;
}

.div-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(var(--main-color-2), var(--main-color-1));
    z-index: 9999;
    transition: all .4s;
}

.loader {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    animation: rotation 1s linear infinite;
}

.nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(10px);
    z-index: 999;
}

.active {
    background-image: linear-gradient(60deg, var(--main-color-1), var(--main-color-2), var(--main-color-3));
    box-shadow: 2px 2px 7px black;
    transition: all 1s;
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

/*-----  Logo Nav -----*/
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.logo img {
    height: 80%;
    cursor: pointer;
    transition: all .2s;
}

.nav-col {
    display: none;
}

.nav-col img {
    height: 100%;
    cursor: pointer;
    transition: all .2s;
}

.logo:hover,
.nav-col img:hover {
    transform: scale(1.05);
}

/*-----  Items Nav -----*/
.nav-items {
    width: 70%;
}

.nav-items ul {
    display: flex;
    width: 100%;
}

.nav-items ul li {
    width: 25%;
    overflow: hidden;
    cursor: pointer;
}

.nav-items ul li a, .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    transition: all .2s;
}

.nav-items ul li h1 {
    font-size: 18px;
    color: var(--text-color);
}

.nav-items ul li a:hover {
    transform: scale(1.1);
    background-color: var(--hover);
}

/*-----  Banner -----*/
.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh + 80px);
    background-image: linear-gradient(to right top, var(--main-color-1), var(--main-color-2), var(--main-color-3), var(--main-color-4));
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    overflow: hidden;
}

.grid-banner {
    display: grid;
    grid-template-columns: 1fr 25% 1fr;
    align-items: center;
    width: 100%;
    height: 50%;
}

.grid-banner .name,
.grid-banner .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-banner .photo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    background-image: url(../img/ban/wall.jpg);
    border: 5px solid white;
    border-radius: 0 50px 0 0;
    overflow-x: clip;
    margin: 10px;
}

.grid-banner .photo img {
    position: absolute;
    height: 115%;
}

.grid-banner .photo .firma {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background: linear-gradient(#00000000, #000000be 60%);
}

.grid-banner h1 {
    color: white;
}

.grid-banner .end {
    text-align: end;
}

.grid-banner .first {
    font-weight: 300;
    font-size: 45px;
}

.grid-banner .last {
    font-size: 50px;
}

.banner .more {
    display: flex;
    justify-content: center;
    color: white;
    animation: icon .5s infinite;
}

.banner .more .icon-hiper .more-icon {
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 80px 0 80px 0;
}

.tittle h1 {
    font-size: 45px;
    color: var(--main-color-1);
    margin-bottom: 20px;
}

.white h1 {
    color: white;
}

.content {
    --grid-item--max-width: calc(100% / 5);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(100px, var(--grid-item--max-width)), 1fr));
    grid-gap: 2%;
    width: 75%;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to right top, var(--main-color-2), var(--main-color-3), var(--main-color-4));
    box-shadow: 0px 0px 20px #00000077;
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
    transition: all .2s;
}

.item:hover,
.card-alt:hover,
.flag:hover {
    transform: translateY(-10px);
}

.item .text {
    width: 100%;
    margin: 20px;
    text-align: center;
}

.item .text h1 {
    font-size: 30px;
    color: white;
}

.item .text h2 {
    font-size: 20px;
    color: #e6e6e6;
    margin-top: 1rem;
}

.dark {
    background-image: linear-gradient(to right top, var(--main-color-1), var(--main-color-2), var(--main-color-3), var(--main-color-4));
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 25px;
    padding: 15px;
    border-radius: 20px;
    background-image: linear-gradient(25deg, var(--main-color-3) 0%, var(--main-color-2) 20%, var(--main-color-2) 80%, var(--main-color-3) 100%);
    cursor: pointer;
    box-shadow: 0px 0px 20px #00000077, inset 0 0 0 6px white;
    transition: all .2s;
}

.card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: skewX(25deg);
    transition: all .2s;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover::after {
    transform: skewX(40deg);
}

.card-img,
.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 9;
}

.card-img img {
    width: 30%;
    margin-bottom: 2%;
}

.card-text h1 {
    width: 70%;
    font-size: 35px;
    text-align: center;
    background-image: linear-gradient(60deg, var(--main-color-2) 20%, var(--main-color-3) 100%);
    border-radius: 50px;
    margin-bottom: 2%;
}

.card-text h2 {
    font-size: 28px;
    color: var(--main-color-2);
    margin-bottom: 5%;
}

.card-text h3 {
    font-size: 20px;
    color: var(--main-color-2);
}

.card-alt {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to right top, var(--main-color-2), var(--main-color-3), var(--main-color-4));
    border-radius: 20px;
    box-shadow: 0px 0px 20px #00000077;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
}

.card-alt::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    background-color: #16181c;
    transition: all .3s;
}

.card-alt:hover::after {
    transform: translateY(-100%);
}

.alt-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(25deg, var(--main-color-3) 0%, var(--main-color-2) 20%, var(--main-color-2) 80%, var(--main-color-3) 100%);
    transform: translateY(100%);
    z-index: 99;
    transition: all .3s;
}

.alt-info p {
    width: 85%;
    text-align: center;
    font-weight: 600;
    color: white;
}

.active-info {
    transform: translateY(0);
}

.card-alt .cert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    background-color: #16181c;
    border-bottom: 5px solid white;
}

.card-alt .cert h1 {
    font-size: 24px;
    text-align: center;
    color: white;
}

.card-alt .sub {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 60%;
    padding: 40px 10px 40px 10px;
}

.card-alt .sub h2 {
    text-align: center;
    font-size: 22px;
    width: 100%;
    color: white;
}

.card-alt .logo-cert {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 0;
    z-index: 9;
    transition: all .3s;
}

.card-alt .logo-cert img {
    height: 80%;
}

.card-alt .logo-cert:hover {
    opacity: .6;
}

.card-alt .arrow {
    width: 20%;
    text-align: center;
    color: white;
    font-size: 25px;
}

.card-alt .down {
    position: absolute;
    top: 0;
}

.flag {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin: 10px;
    background-color: #232323;
    box-shadow: 0px 0px 20px #00000077;
    cursor: pointer;
    transition: all .2s;
}

.flag::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: white;
    transform: skewX(45deg);
    transition: all .3s;
}

.flag:hover::after {
    transform: translateX(100%);
}

.flag img {
    position: absolute;
    left: 5%;
    height: 60%;
}

.flag h1 {
    text-align: center;
    font-size: 24px;
    color: var(--main-color-1);
    padding: 15px 0 15px;
    z-index: 9;
    transition: all .2s;
}

.flag:hover h1 {
    color: white;
    transform: translateX(10%);
}

.page {
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #00000077;
    overflow: hidden;
    transition: all .2s;
}

.page::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#12121200, #121212);
    bottom: -100%;
    transition: all .2s;
}

.page:hover::after {
    transform: translateY(-100%);
}

.page .image {
    width: 100%;
    transition: all .5s;
}

.page .image img {
    width: 100%;
    height: 100%;
}

.page:hover .image {
    transform: scale(1.2);
}

.page .page-logo {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    transition: all .5s;
}

.page .page-logo img {
    height: 50%;
}

.page:hover .page-logo {
    opacity: 1;
}

.page .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 20%;
    bottom: 0;
    opacity: 0;
    z-index: 9;
    transition: all .2s;
}

.page:hover .buttons {
    opacity: 1;
}

.page .buttons .button {
    padding: 5px 25px;
    font-size: 20px;
    margin: 10px;
    background-image: linear-gradient(60deg, var(--main-color-2), var(--main-color-3));
    color: white;
    box-shadow: 4px 4px 0px white;
    user-select: none;
    transition: all .2s;
}

.page .buttons .button:hover {
    scale: 1.05;
    color: white;
    box-shadow: 4px 4px 0px white;
}

.page .buttons .button:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px white;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to right top, var(--main-color-1), var(--main-color-2), var(--main-color-3), var(--main-color-4));
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.footer-content {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
}

.grid-footer {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid white;
    padding-bottom: 2%;
    margin-bottom: 1em;
}

.grid-footer .footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-footer .footer-item li {
    text-align: left;
}

.grid-footer .footer-item a {
    width: 30%;
}

.grid-footer .footer-item .logo-footer {
    color: white;
    width: 80%;
    font-size: 55px;
    cursor: pointer;
    transition: all .2s;
}

.grid-footer .footer-item .logo-footer:hover {
    scale: 1.1;
}

.footer-content h1 {
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 1em;
}

@media screen and (max-width: 640px) {
    .grid-banner .photo {
        width: 90% !important;
    }

    .content {
        --grid-item--max-width: calc(100% / 2) !important;
    }

    .footer-content h1 {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 1100px) {
    .nav {
        justify-content: flex-end;
    }

    .logo {
        display: flex;
        width: 60%;
    }

    .nav-col {
        display: flex;
        width: 20%;
        justify-content: center;
        align-items: center;
    }

    .nav .nav-items {
        display: flex;
        position: absolute;
        width: 100%;
        top: 50px;
        align-items: flex-start;
    }

    .nav .nav-items .menu {
        position: absolute;
        right: -100%;
        transition: all .2s;
    }

    .nav .nav-items .active-items {
        position: absolute;
        right: 0;
        background-color: #002232d8;
    }

    .nav-items ul {
        flex-direction: column;
    }

    .nav-items ul li {
        width: 100%;
        cursor: pointer;
    }

    .banner {
        justify-content: flex-start;
        padding-top: 50px;
    }

    .grid-banner {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 60% 1fr;
        justify-items: center;
        height: calc(85vh - 50px);
    }

    .grid-banner .photo {
        display: flex;
        width: 50%;
    }

    .grid-banner .photo img {
        height: 100%;
    }

    .grid-banner .end {
        text-align: center;
    }

    .grid-banner .first {
        font-size: 35px;
        text-align: center;
    }

    .grid-banner .last {
        font-size: 45px;
        text-align: center;
    }

    .tittle h1 {
        font-size: 35px;
    }

    .content {
        --grid-item--max-width: calc(100% / 3);
        width: 90%;
        grid-gap: 2%;
    }

    .item .text h1 {
        font-size: 26px;
        color: white;
    }

    .card {
        margin: 10px;
    }

    .card-text h1 {
        width: 90%;
        font-size: 24px;
    }

    .card-text h2 {
        font-size: 18px;
    }

    .card-text h3 {
        font-size: 16px;
    }

    .page .buttons .button {
        padding: 2px 20px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .footer-content {
        width: 90%;
        margin-top: 10%;
    }

    .grid-footer .footer-item a {
        width: 40%;
    }

    .grid-footer .footer-item .logo-footer {
        width: 100%;
        font-size: 40px;
    }

    .footer-content h1 {
        font-size: 18px;
    }
}